<ul class="sidebar" >
<!-- sort in alphebetical order -->
    <p class="separator">Navigation</p>
    <li><a href="{{ "/index.html" | prepend: site.url }}">Home</a></li>
    <li><a href="{{ "/publications.html" | prepend: site.url }}">Publications</a></li>
    <li><a href="{{ "/research.html" | prepend: site.url }}">Research</a></li>
    <li><a href="{{ "/cv.html" | prepend: site.url }}">CV</a></li>
    <li><a href="{{ "/projects.html" | prepend: site.url }}">Contact</a></li>
    <li><a href="{{ "/posts.html" | prepend: site.url }}">Posts</a></li>
    <li><a href="{{ "/personal.html" | prepend: site.url }}">Personal</a></li>
    
    <a class="goto-top-link hide-on-phone" href="#top">
        <div class="goto-top text-center">
            <i class="fa fa-step-forward fa-rotate-270"></i>
        </div>
    </a>
</ul>